.footer {
  padding: 40px 0 10px;
  color: white;
  background: 
    #198754 100%;
}

.footer a {
  display: block;
  color: white;
  margin-bottom: 10px;
  font-size: 14px;
  transition: .3s;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: black;
}

.footer-top {
  padding-bottom: 10px;
}

.footer-links a {
  margin-right: 20px;
  display: inline-block;
}

.footer-social svg {
  margin-left: 12px;
  cursor: pointer;
  transition: .3s;
}

.footer-social svg:hover {
  transform: scale(1.15);
  color: black;
}

.footer-line {
  border-color: rgba(255,255,255,0.3);
  margin-bottom: 40px;
}

.footer-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-subscribe {
  background: rgba(255,255,255,0.9);
  padding: 5px;
  border-radius: 8px;
  display: flex;
}

.footer-subscribe input {
  border: none;
  padding: 12px;
  flex-grow: 1;
  outline: none;
  color: black;
}

.footer-subscribe button {
  background: black;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.footer-bottom {
  margin-top: 40px;
  font-size: 13px;
}

.footer-settings select {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: black;
}

/* Scroll to top button */
.backtop-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: black;
 background: transparent;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-weight: bold;
}
